*,
*::after,
*::before {
  box-sizing: border-box;
}
.container-main {
  max-width: 1280px;
  margin: 0 auto;
}
.container-2 {
  max-width: 990px;
  margin: 0 auto;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .container-2 {
    max-width: 660px;
  }
}
.span {
  color: #e13343;
}
@font-face {
  font-family: 'PT Sans Narrow Web Regular';
  src: url("../font/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'PT Sans Narrow Web Bold';
  src: url("../font/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'pfbeausanspro-bold';
  src: url("../font/pfbeausanspro/pfbeausanspro-bold.ttf") format("truetype");
}
@font-face {
  font-family: 'pfbeausanspro-thin';
  src: url("../font/pfbeausanspro/pfbeausanspro-thin.ttf") format("truetype");
}
.button {
  color: #fff;
  background-color: #e13343;
  border: 2px solid #e13343;
  border: none;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  right: -10px;
  letter-spacing: -0.7px;
  padding: 10px 30px;
}
.button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #e13343;
  border: 2px solid #e13343;
}
.button:active {
  background-color: #c0c0c0;
}
#order .modal-dialog .modal-content {
  background-color: #e13343;
  font-family: 'PT Sans Narrow Web Regular';
}
#order .modal-dialog .modal-content .modal-header .modal-title {
  font-family: 'PT Sans Narrow Web Bold';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}
#order .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  opacity: 1;
}
#order .modal-dialog .modal-content .modal-body form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
#order .modal-dialog .modal-content .modal-body form label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
#order .modal-dialog .modal-content .modal-body form label input {
  height: 30px;
  width: 200px;
  padding: 5px;
}
#order .modal-dialog .modal-content .modal-body form textarea {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
}
#order .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #e8bf2a;
  border: 2px solid #e13343;
  background-image: none;
  color: #e13343;
}
#order .modal-dialog .modal-content .modal-footer .btn-default {
  background-color: #fff;
  background-image: none;
  border: 2px solid #e13343;
  color: #e13343;
}
#review-modal .modal-dialog .modal-content {
  background-color: #e13343;
  font-family: 'PT Sans Narrow Web Regular';
}
#review-modal .modal-dialog .modal-content .modal-header .modal-title {
  font-family: 'PT Sans Narrow Web Bold';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}
#review-modal .modal-dialog .modal-content .modal-header .close {
  color: #fff;
  opacity: 1;
}
#review-modal .modal-dialog .modal-content .modal-body form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
#review-modal .modal-dialog .modal-content .modal-body form label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
#review-modal .modal-dialog .modal-content .modal-body form label:nth-child(1) input {
  height: 30px;
  width: 200px;
  padding: 10px;
}
#review-modal .modal-dialog .modal-content .modal-body form label:nth-child(2) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 10px;
}
#review-modal .modal-dialog .modal-content .modal-body form label:nth-child(2) p {
  font-family: 'PT Sans Narrow Web Regular';
  color: #fff;
  font-size: 2em;
}
#review-modal .modal-dialog .modal-content .modal-body form label:nth-child(2) input {
  margin: 10px;
  border-color: #f00;
}
#review-modal .modal-dialog .modal-content .modal-body form textarea {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
}
#review-modal .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #e8bf2a;
  border: 2px solid #e13343;
  background-image: none;
  color: #e13343;
}
#review-modal .modal-dialog .modal-content .modal-footer .btn-default {
  background-color: #fff;
  background-image: none;
  border: 2px solid #e13343;
  color: #e13343;
}
.header > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 35px 100px;
}
.header .phone .number {
  display: -ms-flexbox;
  display: flex;
}
.header .phone .number .number__img {
  margin-right: 14px;
  width: 45px;
  height: 45px;
}
.header .phone .number .number__text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.header .phone .number .number__text a {
  font-family: 'PT Sans Narrow Web Bold';
}
.header .phone .number .number__text a:nth-child(1) {
  font-size: 30px;
  color: #333;
  text-align: right;
  position: relative;
  top: -5px;
  left: -1px;
}
.header .phone .number .number__text a:nth-child(2) {
  font-size: 17px;
  position: relative;
  top: -5px;
  text-transform: uppercase;
  color: #e13343;
  border-bottom: 4px dotted #e13343;
}
.header .phone .social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: 3px;
  position: relative;
  top: -5px;
}
.header .phone .social img {
  margin-left: 5px;
}
.new-menu {
  background-color: #f3f3f3;
  height: 683px;
  overflow: hidden;
  position: relative;
}
.new-menu > * {
  position: relative;
}
.new-menu .doner {
  z-index: 10;
  position: absolute;
  top: 0;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .new-menu .doner {
    left: -32%;
    z-index: 0;
  }
}
.new-menu .doner-2 {
  position: absolute;
  top: 310px;
  left: 282px;
  z-index: 20;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .new-menu .doner-2 {
    left: 4.5%;
    z-index: 0;
  }
}
.new-menu .taste {
  position: absolute;
  top: 0;
  right: 98px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .new-menu .taste {
    right: 0;
    top: 120px;
  }
}
.new-menu .circle {
  position: absolute;
  top: 479px;
  left: 146px;
  z-index: 15;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .new-menu .circle {
    z-index: 20;
  }
}
.new-menu .new-menu__text {
  position: absolute;
  top: 35px;
  left: 137px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .new-menu .new-menu__text {
    left: 0;
    top: 0;
  }
}
.new-menu .new-menu__text p {
  text-transform: uppercase;
  line-height: 0.88;
}
.new-menu .new-menu__text p:nth-child(1) {
  font-family: 'pfbeausanspro-thin';
  font-size: 77pt;
  color: #7b7b7b;
  position: relative;
  letter-spacing: 0.7px;
  top: 8px;
}
.new-menu .new-menu__text p:nth-child(2) {
  font-family: 'pfbeausanspro-bold';
  font-size: 102pt;
  color: #333;
  letter-spacing: -0.5px;
  top: 4px;
  position: relative;
}
.timer-1 {
  padding-bottom: 87px;
}
.timer-1 > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.timer-1 .timer-1__time {
  margin-top: 40px;
  position: relative;
  left: -8px;
}
.timer-1 .timer-1__time .time__text {
  margin-bottom: 8px;
  display: -ms-flexbox;
  display: flex;
  font-size: 33px;
  font-family: 'PT Sans Narrow Web Bold';
}
.timer-1 .timer-1__time .time__text p {
  position: relative;
  left: 10px;
}
.timer-1 .timer-1__time .time__text span {
  color: #e13343;
  letter-spacing: 0.1px;
}
.timer-1 .timer-1__time .time__mega {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.timer-1 .timer-1__time .time__mega,
.timer-1 .timer-1__time .time__mega .mefa-t {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}
.timer-1 .timer-1__time .time__mega button,
.timer-1 .timer-1__time .time__mega .mefa-t button {
  height: 36px;
  width: 181px;
  top: -3px;
}
.timer-1 .timer-1__text {
  margin-top: 45px;
  margin-left: 30px;
  line-height: 1.2;
  position: relative;
  top: -3px;
  left: 8px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .timer-1 .timer-1__text {
    margin-left: 0;
    text-align: center;
  }
}
.timer-1 .timer-1__text p {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Regular';
  letter-spacing: 0.4px;
}
.timer-1 .timer-1__text span {
  color: #e13343;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Bold';
  letter-spacing: 0.4px;
}
.steps > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.steps .step {
  padding: 95px 0;
  width: 427px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.steps .step .step__body {
  position: relative;
  left: -30px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .steps .step .step__body {
    left: 0;
  }
}
.steps .step .step__body .step__caption {
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 36px;
  color: #333;
  margin-bottom: 9px;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .steps .step .step__body .step__caption {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
}
.steps .step .step__body .step__caption span {
  width: 210px;
}
.steps .step .step__body .step__text {
  width: 210px;
  position: relative;
  left: 40px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .steps .step .step__body .step__text {
    left: 0;
    text-align: center;
  }
}
.steps .step .step__body .step__text p {
  font-family: 'PT Sans Narrow Web Regular';
  font-size: 26px;
  color: #585858;
  line-height: 1.2;
}
.steps .step .step__body .step__line {
  height: 3px;
  width: 30px;
  background-color: #f00;
}
.steps .step-1 {
  background-color: #c9eaff;
}
.steps .step-1 .step__caption::before {
  content: url("../img/steps/steps-clock.png");
  margin-right: 10px;
}
.steps .step-1 .step__caption span {
  border-bottom: 3px solid #e13343;
}
.steps .step-2 {
  background-color: #ffc9f2;
}
.steps .step-2 .step__caption::before {
  content: url("../img/steps/steps-auto.png");
  margin-right: 10px;
}
.steps .step-2 .step__caption span {
  border-bottom: 3px solid #e13343;
}
.steps .step-2 .step__text {
  left: 60px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .steps .step-2 .step__text {
    left: 0;
  }
}
.steps .step-3 {
  background-color: #efffc9;
}
.steps .step-3 .step__caption::before {
  content: url("../img/steps/steps-love.png");
  margin-right: 10px;
}
.steps .step-3 .step__caption span {
  border-bottom: 3px solid #e13343;
}
.our-menu {
  padding: 45px 0;
}
.our-menu .our-menu__caption {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.our-menu .our-menu__caption > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.our-menu .our-menu__caption > * p {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 48px;
  margin-left: 10px;
  padding: 25px 0;
}
.our-menu .our-menu__caption > *::after {
  content: '';
  width: 288px;
  height: 4px;
  background-color: #bebebe;
  margin-left: 45px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .our-menu .our-menu__caption > *::after {
    width: 100px;
  }
}
.our-menu .our-menu__caption > *::before {
  content: '';
  width: 288px;
  height: 4px;
  background-color: #bebebe;
  margin-right: 45px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .our-menu .our-menu__caption > *::before {
    width: 100px;
  }
}
.our-menu .our-menu__body > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .our-menu .our-menu__body > * {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.our-menu .our-menu__body .post {
  width: 300px;
  height: 457px;
  margin: 25px 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 11px 1px #b2b2b2;
}
.our-menu .our-menu__body .post .price-p,
.our-menu .our-menu__body .post .title-p,
.our-menu .our-menu__body .post .content-p,
.our-menu .our-menu__body .post .rating-p {
  padding: 0 35px;
  font-family: 'PT Sans Narrow Web Regular';
}
.our-menu .our-menu__body .post .thumbnail-p,
.our-menu .our-menu__body .post .price-p,
.our-menu .our-menu__body .post .title-p,
.our-menu .our-menu__body .post .content-p,
.our-menu .our-menu__body .post .rating-p {
  filter: brightness(100%);
  opacity: 1;
  filter: blur(0px);
  transition: filter 0.5s linear, opacity 0.5s linear;
}
.our-menu .our-menu__body .post .button {
  position: absolute;
  width: 245px;
  height: 50px;
  bottom: 10px;
  left: 30px;
  opacity: 0;
  transition: opacity 0.5s linear;
  text-align: center;
  line-height: 30px;
}
.our-menu .our-menu__body .post:hover .thumbnail-p,
.our-menu .our-menu__body .post:hover .price-p,
.our-menu .our-menu__body .post:hover .title-p,
.our-menu .our-menu__body .post:hover .content-p,
.our-menu .our-menu__body .post:hover .rating-p {
  transition: filter 0.5s linear;
  opacity: 0.8;
  filter: blur(2px);
}
.our-menu .our-menu__body .post:hover .button {
  opacity: 1;
  transition: opacity 0.5s linear;
  filter: blur(0px);
  z-index: 5;
  cursor: pointer;
}
.our-menu .our-menu__body .post .thumbnail-p {
  height: 250px;
  overflow: hidden;
}
.our-menu .our-menu__body .post .price-p {
  font-family: 'PT Sans Narrow Web Bold';
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.our-menu .our-menu__body .post .price-p span {
  font-family: 'PT Sans Narrow Web Regular';
  font-size: 20px;
  color: #e13343;
}
.our-menu .our-menu__body .post .price-p span:before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  position: relative;
  top: 13px;
  left: -7px;
  background-color: #e13343;
}
.our-menu .our-menu__body .post .price-p span:after {
  content: 'тг';
}
.our-menu .our-menu__body .post .price-p p {
  font-size: 30px;
  margin-top: 3px;
}
.our-menu .our-menu__body .post .price-p p:after {
  content: 'тг';
}
.our-menu .our-menu__body .post .title-p {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 24px;
  margin: 5px 0;
}
.our-menu .our-menu__body .post .content-p {
  margin-bottom: 10px;
}
.our-menu .our-menu__body .post .content-p p {
  line-height: 1.2;
}
.our-menu .our-menu__body .post .content-p p::before {
  content: 'Состав: ';
  color: #e13343;
}
.our-menu .our-menu__body .post .rating-p {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 10px;
  width: 300px;
}
.our-menu .our-menu__body .post .rating-p .rating__star {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
  color: #ffb521;
  font-size: 18px;
}
.our-menu .our-menu__body .post .rating-p .rating__star .star {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.our-menu .our-menu__body .post .rating-p .rating__star .star::before {
  content: url("../img/our-menu/our-menu-star.png");
}
.our-menu .our-menu__body .post .rating-p .rating__star .star img {
  margin-bottom: 5px;
}
.our-menu .our-menu__body .post .rating-p .rating__number p {
  border-bottom: 2px solid #037b06;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 35px;
  color: #037b06;
}
.timer-2 {
  padding: 60px 0;
  background-image: url("../img/timer/timer-2-backg.png");
  background-size: cover;
  background-position: center center;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .timer-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.timer-2 .caption-t2 {
  text-transform: uppercase;
  font-size: 60px;
  color: #fff;
  text-shadow: -4px 2px 2px #000;
}
.timer-2 .caption-t2 p:nth-child(1) {
  font-family: 'pfbeausanspro-bold';
}
.timer-2 .caption-t2 p:nth-child(2) {
  font-family: 'pfbeausanspro-thin';
}
.timer-2 .body-t2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .timer-2 .body-t2 {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.timer-2 .body-t2 .timer-bt2 .timer-bt2__text {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Regular';
  color: #fff;
  font-size: 30px;
  margin: 10px 0;
}
.timer-2 .body-t2 .form-bt2 input,
.timer-2 .body-t2 .form-bt2 button {
  font-family: 'PT Sans Narrow Web Regular';
  width: 160px;
  padding: 12px;
  height: 40px;
}
.timer-2 .body-t2 .form-bt2 form {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -40px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .timer-2 .body-t2 .form-bt2 form {
    left: 0;
    margin: 20px 0;
  }
}
.timer-2 .body-t2 .form-bt2 form label {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}
.timer-2 .body-t2 .form-bt2 form input {
  opacity: 0.6;
}
.timer-2 .body-t2 .form-bt2 form button {
  padding: 0;
}
.drinks {
  padding-bottom: 40px;
}
.drinks .caption-dr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.drinks .caption-dr > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.drinks .caption-dr > * p {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 48px;
  margin-left: 10px;
  padding: 25px 0;
}
.drinks .caption-dr > * p span {
  margin-right: 10px;
}
.drinks .caption-dr > *::after {
  content: '';
  width: 288px;
  height: 4px;
  background-color: #bebebe;
  margin-left: 45px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .drinks .caption-dr > *::after {
    width: 150px;
  }
}
.drinks .caption-dr > *::before {
  content: '';
  width: 288px;
  height: 4px;
  background-color: #bebebe;
  margin-right: 45px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .drinks .caption-dr > *::before {
    width: 150px;
  }
}
.drinks .body-dr {
  z-index: 10;
}
.drinks .body-dr > * {
  position: relative;
}
.drinks .body-dr .slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.drinks .body-dr .slides {
  display: -ms-flexbox;
  display: flex;
}
.drinks .flexslider-drink .flex-viewport {
  max-height: 100%;
}
.drinks .flexslider-drink .flex-viewport ul li {
  width: 330px !important;
}
.drinks .flexslider-drink .flex-direction-nav .flex-nav-prev .flex-prev {
  opacity: 1;
  z-index: 20;
}
.drinks .flexslider-drink .flex-direction-nav .flex-nav-prev .flex-prev:before {
  content: url("../img/drinks/drinks-red-arrow-left.png");
}
.drinks .flexslider-drink .flex-direction-nav .flex-nav-prev .flex-prev:active {
  transform: scale(0.8);
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .drinks .flexslider-drink .flex-direction-nav .flex-nav-prev .flex-prev {
    left: -50px !important;
  }
}
.drinks .flexslider-drink .flex-direction-nav .flex-nav-next .flex-next {
  opacity: 1;
  z-index: 20;
}
.drinks .flexslider-drink .flex-direction-nav .flex-nav-next .flex-next::before {
  content: url("../img/drinks/drinks-red-arrow-right.png");
}
.drinks .flexslider-drink .flex-direction-nav .flex-nav-next .flex-next:active {
  transform: scale(0.8);
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .drinks .flexslider-drink .flex-direction-nav .flex-nav-next .flex-next {
    right: -50px !important;
  }
}
.drinks .post {
  width: 300px;
  height: 457px;
  margin: 25px 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 11px 1px #b2b2b2;
}
.drinks .post .price-p,
.drinks .post .title-p,
.drinks .post .content-p,
.drinks .post .rating-p {
  padding: 0 35px;
  font-family: 'PT Sans Narrow Web Regular';
}
.drinks .post .thumbnail-p,
.drinks .post .price-p,
.drinks .post .title-p,
.drinks .post .content-p,
.drinks .post .rating-p {
  filter: brightness(100%);
  opacity: 1;
  filter: blur(0px);
  transition: filter 0.5s linear, opacity 0.5s linear;
}
.drinks .post .button {
  position: absolute;
  width: 245px;
  height: 50px;
  bottom: 10px;
  left: 30px;
  opacity: 0;
  transition: opacity 0.5s linear;
  text-align: center;
  line-height: 30px;
}
.drinks .post:hover .thumbnail-p,
.drinks .post:hover .price-p,
.drinks .post:hover .title-p,
.drinks .post:hover .content-p,
.drinks .post:hover .rating-p {
  transition: filter 0.5s linear;
  opacity: 0.8;
  filter: blur(2px);
}
.drinks .post:hover .button {
  opacity: 1;
  transition: opacity 0.5s linear;
  filter: blur(0px);
  z-index: 5;
  cursor: pointer;
}
.drinks .post .thumbnail-p {
  height: 250px;
  overflow: hidden;
}
.drinks .post .price-p {
  font-family: 'PT Sans Narrow Web Bold';
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.drinks .post .price-p span {
  font-family: 'PT Sans Narrow Web Regular';
  font-size: 20px;
  color: #e13343;
}
.drinks .post .price-p span:before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  position: relative;
  top: 13px;
  left: -7px;
  background-color: #e13343;
}
.drinks .post .price-p span:after {
  content: 'тг';
}
.drinks .post .price-p p {
  font-size: 30px;
  margin-top: 3px;
}
.drinks .post .price-p p:after {
  content: 'тг';
}
.drinks .post .title-p {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 24px;
  margin: 5px 0;
}
.drinks .post .content-p {
  margin-bottom: 10px;
}
.drinks .post .content-p p {
  line-height: 1.2;
}
.drinks .post .content-p p::before {
  content: '';
  color: #e13343;
}
.drinks .post .rating-p {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 10px;
  width: 300px;
}
.drinks .post .rating-p .rating__star {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
  color: #ffb521;
  font-size: 18px;
}
.drinks .post .rating-p .rating__star .star {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.drinks .post .rating-p .rating__star .star::before {
  content: url("../img/drinks/our-menu-star.png");
}
.drinks .post .rating-p .rating__star .star img {
  margin-bottom: 5px;
}
.drinks .post .rating-p .rating__number p {
  border-bottom: 2px solid #037b06;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 35px;
  color: #037b06;
}
.drinks .slide-left,
.drinks .slide-right {
  position: absolute;
  top: 50%;
}
.drinks .slide-left:hover,
.drinks .slide-right:hover {
  cursor: pointer;
}
.drinks .slide-left {
  left: -30px;
}
.drinks .slide-right {
  right: -30px;
}
.insta {
  padding-bottom: 150px;
}
.insta > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
.insta .caption-ins {
  margin: 40px 0;
}
.insta .body-insta .gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}
.insta .body-insta .gallery .insta {
  margin: 10px;
  height: 165px;
  width: 250px;
  overflow: hidden;
  opacity: 1;
  transform: scale(1, 1);
  filter: blur(0);
  transition: opacity 0.2s linear, transform 0.2s linear, filter 0.2s linear;
  box-shadow: 0px 0px 11px 1px #b2b2b2;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .insta .body-insta .gallery .insta {
    width: 350px !important;
    height: 250px !important;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .insta .body-insta .gallery .insta img {
    width: 100%;
    height: 250px;
  }
}
.insta .body-insta .gallery .insta:hover {
  opacity: 0.8;
  transform: scale(1.1, 1.1);
  cursor: pointer;
  filter: blur(2px);
}
.timer-3 {
  padding: 60px 0;
  background-image: url("../img/timer/timer-3.png");
  background-size: cover;
  background-position: center center;
}
.timer-3 .caption-t2 {
  text-transform: uppercase;
  font-size: 60px;
  color: #fff;
  text-shadow: -4px 2px 2px #000;
}
.timer-3 .caption-t2 p:nth-child(1) {
  font-family: 'pfbeausanspro-bold';
}
.timer-3 .caption-t2 p:nth-child(2) {
  font-family: 'pfbeausanspro-thin';
}
.timer-3 .body-t2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .timer-3 .body-t2 {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.timer-3 .body-t2 .timer-bt2 .timer-bt2__text {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow Web Regular';
  color: #fff;
  font-size: 30px;
  margin: 10px 0;
}
.timer-3 .body-t2 .form-bt2 input,
.timer-3 .body-t2 .form-bt2 button {
  font-family: 'PT Sans Narrow Web Regular';
  width: 160px;
  padding: 12px;
  height: 40px;
}
.timer-3 .body-t2 .form-bt2 form {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -40px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .timer-3 .body-t2 .form-bt2 form {
    left: 0;
    margin: 20px 0;
  }
}
.timer-3 .body-t2 .form-bt2 form label {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}
.timer-3 .body-t2 .form-bt2 form input {
  opacity: 0.6;
}
.timer-3 .body-t2 .form-bt2 form button {
  padding: 0;
}
.reviews {
  background-image: url("../img/reviews/reviews-background.png");
  padding: 40px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .reviews > * {
    width: 480px !important;
  }
}
.reviews__caption > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'pfbeausanspro-bold';
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin: 25px auto;
}
.reviews__caption > * .caption-r {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 50px;
}
.reviews__caption > * .caption-r p {
  margin-left: 15px;
}
.reviews__caption > * .arrow-left:hover,
.reviews__caption > * .arrow-right:hover {
  cursor: pointer;
}
.reviews__caption > * .arrow-left:active,
.reviews__caption > * .arrow-right:active {
  transform: scale(0.8);
}
.flexslider {
  background: none !important;
  border: none !important;
}
.flexslider .flex-control-paging li {
  margin: 0 10px;
}
.flexslider .flex-control-paging li a {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,0.5);
}
.flexslider .flex-control-paging li a:hover {
  background: rgba(255,255,255,0.7);
}
.flexslider .flex-control-paging li .flex-active {
  background: #ffba04 !important;
}
.flexslider .flex-direction-nav .flex-nav-next .flex-next {
  opacity: 1;
  top: -50px;
  right: 300px !important;
}
.flexslider .flex-direction-nav .flex-nav-next .flex-next::before {
  content: url("../img/reviews/reviews-arrow-right.png");
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .flexslider .flex-direction-nav .flex-nav-next .flex-next {
    right: 50px !important;
  }
}
.flexslider .flex-direction-nav .flex-nav-prev .flex-prev {
  opacity: 1;
  top: -50px;
  left: 300px !important;
}
.flexslider .flex-direction-nav .flex-nav-prev .flex-prev::before {
  content: url("../img/reviews/reviews-arrow-left.png");
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .flexslider .flex-direction-nav .flex-nav-prev .flex-prev {
    left: 50px !important;
  }
}
.flexslider .flex-viewport {
  transition: none;
}
.review {
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
}
.review .review__thumbnail {
  overflow: hidden;
  height: 140px;
  width: 150px;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .review .review__thumbnail {
    width: 220px;
  }
}
.review .review__thumbnail img {
  position: relative;
  left: -25px;
  top: -5px;
  width: auto !important;
}
.review .body-r {
  padding: 10px;
  position: relative;
}
.review .body-r .body-r__title {
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 30px;
  margin: 5px 0;
}
.review .body-r .body-r__content {
  font-family: 'PT Sans Narrow Web Regular';
  font-size: 20px;
  line-height: 1.2;
}
.review .body-r .body-r__data {
  position: absolute;
  font-family: 'pfbeausanspro-thin';
  font-size: 18px;
  top: 20px;
  right: 20px;
}
.review .body-r .rating-br {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 160px;
}
.review .body-r .rating-br .rating__star {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 150px;
  color: #ffb521;
  font-size: 18px;
}
.review .body-r .rating-br .rating__star .star {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.review .body-r .rating-br .rating__star .star::before {
  content: url("../img/reviews/review-star.png");
}
.review .body-r .rating-br .rating__star .star img {
  margin-bottom: 5px;
}
.review .body-r .rating-br .rating__number p {
  border-bottom: 2px solid #037b06;
  font-family: 'PT Sans Narrow Web Bold';
  font-size: 25px;
  color: #037b06;
  margin-left: 20px;
}
.reviews__dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 25px 0;
}
.reviews__dots .dot {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50%;
}
.reviews__dots .dot:hover {
  cursor: pointer;
}
.reviews__dots .dot-active {
  background-color: #e8bf2a;
}
.reviews__edit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.reviews__edit a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.reviews__edit a img {
  width: 20px;
}
.reviews__edit a p {
  color: #fff;
  font-family: 'pfbeausanspro-bold';
  border-bottom: 3px dotted #fff;
  font-size: 28px;
  margin-left: 10px;
}
.reviews__edit a p:hover {
  color: #e8bf2a;
  border-bottom: 3px dotted #e8bf2a;
}
.footer {
  background-color: #f1f1f1;
  padding: 20px 0;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding: 20px;
  }
}
.footer > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 991px) {
  .footer > * {
    max-width: 830px;
  }
}
.footer .text-f {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.footer .text-f .text-f__btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.footer .text-f .text-f__btn a {
  border-radius: 3px;
  border: 1px solid #bababa;
  background-color: #fff;
  font-family: 'PT Sans Narrow Web Regular';
  font-size: 14pt;
  color: #696464;
  height: 39px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer .text-f .text-f__btn a:nth-child(1) {
  width: 217px;
  margin-right: 13px;
}
.footer .text-f .text-f__btn a:nth-child(2) {
  width: 201px;
}
.footer .text-f .text-f__btn a:hover {
  cursor: pointer;
  color: #e13343;
  border: 1px solid #e13343;
}
.footer .text-f .text-f__corp {
  display: -ms-flexbox;
  display: flex;
  font-family: 'PT Sans Narrow Web Regular';
  font-size: 14pt;
}
.footer .text-f .text-f__corp p {
  display: block;
  margin-right: 50px;
  color: #696464;
}
.footer .text-f .text-f__corp a {
  color: #696464;
  border-bottom: 1px dotted #696464;
}
.footer .text-f .text-f__corp a:hover {
  color: #e13343;
  border-bottom: 1px dotted #e13343;
}
